*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/functions/node_modules/

# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
